@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #885737;
}

.jumbotron {
    background-image: url("coffeebeans.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}

#jumbotron-container {
    color: black;
    text-align: center;
    background-color: white;
    opacity: 0.6;
}

.coffee-search {
    background-color: #D5B876;
}

.coffee-names {
    background-color: #C69876;
}

p {
    color: white;
}
